.vscode/**
.vscode-insiders/**
.vscode-test/**
.vscode-test-web/**
.vscode-test.mjs
.github/**
.claude/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
dist/*.test.js
dist/web/test/**
node_modules/**
.env*
esbuild.web.mts
run-web-tests.mts
